## python 访问Hive数据

In [81]:
import pyhs2
import pandas as pd
pd.set_option("display.max_rows",500)
pd.set_option("display.max_columns",200)
pd.set_option("display.max_colwidth",500)

conn= pyhs2.connect(host='localhost',port=10000,authMechanism="PLAIN",user='root',password='root',database='default')
cursor=conn.cursor()

### 1 fetchall 示例1

In [8]:
sql = """
select * from person limit 30
"""
cursor.execute(sql)
results = cursor.fetchall()
result_df = pd.DataFrame(results, columns=['name','cert_code'])

In [18]:
result_df.head(3)

   name           cert_code
0  neil  411326199402110030
1  pony  41132519950911004x
2  jcak   12312423454556561

### 2 fetchall示例2

In [73]:
sql = """
desc formatted person
"""
cursor.execute(sql)
data = cursor.fetchall()

tab_schema = pd.DataFrame(data,columns=['col_name','data_type','comment'])
tab_schema

,col_name,data_type,comment
0,# col_name,data_type,comment
1,,None,None
2,name,string,
3,idcard,string,
4,,None,None
5,# Detailed Table Information,None,None
6,Database:,default,None
7,Owner:,root,None
8,CreateTime:,Sun Jun 30 04:52:25 UTC 2019,None
9,LastAccessTime:,UNKNOWN,None
10,Retention:,0,None
11,Location:,hdfs://localhost:8020/user/hive/warehouse/person,None
12,Table Type:,EXTERNAL_TABLE,None
13,Table Parameters:,None,None
14,,COLUMN_STATS_ACCURATE,"{\""BASIC_STATS\"":\""true\""}"
15,,EXTERNAL,TRUE
16,,numFiles,0
17,,numRows,0
18,,rawDataSize,0
19,,totalSize,0
20,,transient_lastDdlTime,1561870345
21,,None,None
22,# Storage Information,None,None
23,SerDe Library:,org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe,None
24,InputFormat:,org.apache.hadoop.mapred.TextInputFormat,None
25,OutputFormat:,org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat,None
26,Compressed:,No,None
27,Num Buckets:,-1,None
28,Bucket Columns:,[],None
29,Sort Columns:,[],None
30,Storage Desc Params:,None,None
31,,field.delim,\t
32,,serialization.format,\t

### 3 fetchone 示例1

In [91]:
sql = """
select version()
"""
cursor.execute(sql)
data = cursor.fetchone()

In [92]:
print data

['2.3.3 r8a511e3f79b43d4be41cd231cf5c99e43b248383']

In [96]:
%%sql show person

UsageError: Cell magic `%%sql` not found.